.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.4);
    animation: animate 1s ease-out 0s forwards;
}

@keyframes animate {
    to{
        top: 50%;
        transform: translate(-50%, -50%) scale(1);

    }
}